# put here only additional package for extended/developpement
# for mandatory packages, see setup.py
# https://packaging.python.org/discussions/install-requires-vs-requirements/
jupyter
jupyter_contrib_nbextensions
sphinx
numpydoc
sphinx-rtd-theme
nbsphinx
jupyter-sphinx
holoviews
panel
numpy
xarray
numba
pytest
fsspec
aiohttp
setuptools
pyyaml
dask[array]
netcdf4
tqdm
typer



